.h2_2 {
    margin: 50px 0 30px 0;
    font-weight: 600;
  }
.artist_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 450px));
    gap: 10px;
    position: relative;
  }

.artist_date {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.artist_row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    align-items: baseline;
    margin-bottom: 50px;
}
.wave_box {
    position: relative;
}
.illustration_wave {
    position: absolute;
    top: -60px;
    left: -100px;
    z-index: -1;
    width: 200%;
    transform: scaleY(-1);
}
.illustration_woman {
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: -1;
    width: 30%;
}


/* Mobil version */

@media screen and (max-width: 600px) {

    .h2_2 {
        margin: 15px 0 10px 0;
        font-size: 40px;
    }
    h3 {
        font-size: 24px;
    }
    .artist_date {
        flex-direction: column;
        gap: 5px;
    }
    .artist_row {
        flex-direction: column;
        gap: 0;
        margin-bottom: 35px;
    }
    .illustration_wave {
        top: 0;
        left: 20px;
    }
    .illustration_woman {
        bottom: -160px;
        width: 50%;
        right: -10px;
    }

}